<h1>Modifier la destination</h1>

<%= render "form", destination: @destination %>

<br>

<div>
  <%= link_to "Voir la destination", @destination %> |
  <%= link_to "Voir les destinations", destinations_path %>
</div>
