<p style="color: green"><%= notice %></p>

<h1 class="text-center">Destinations</h1>


<div class="container align-items-center" id="destinations">
  <% @destinations.each do |destination| %>
  <div class="border">
    <%= render destination %>
  </div>
    <p>
      <%= link_to "Voir la destination", destination %>
    </p>
  <% end %>
</div>

<%= link_to "Nouvelle destination", new_destination_path %>
